*.rds
.ipynb_checkpoints/

meta_clusters.pdf
pretrained_biccn_*.txt
functional_aurocs.txt

data/biccn_hvgs.txt
data/joint_annotation/
data/scCv2/
data/scCv3/
data/scSS/
data/snCv2/
data/snCv3M/
data/snCv3Z/
data/snSS/