*.rds
.ipynb_checkpoints/

meta_clusters.pdf
pretrained_biccn_*.txt
functional_aurocs.txt

*_files/
*.md
*.docx

old/

anticipated_results_figs/*.pdf
anticipated_results_figs/*.csv
anticipated_results_figs/*.txt

data/biccn_hvgs.txt
data/joint_annotation/
data/scCv2/
data/scCv3/
data/scSS/
data/snCv2/
data/snCv3M/
data/snCv3Z/
data/snSS/
data/snmc/
data/snatac/
data/go_to_matrix.R
data/go_mouse.mtx
data/go_mouse_row_labels.txt
data/go_mouse_col_labels.txt